//===Collections

.collection{
    margin-bottom: 160px;
    .collection__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .collection__left{
            flex-grow: 60%;
            width: 60%;
            .collection__grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;

                margin-top: 47px;

                .collection__grid__item{
                    .collection__button{
                        font-size: 26.531px;
                        line-height: 33px;
                        text-align: center;
                        // color: rgba(255, 255, 255, 0.5);
                       color:rgba(82, 73, 73, 0.361);

                        background: none;

                        padding: 33px 30px;
                        width: 95%;
                        margin-bottom: 43px;

                        border: 2px solid gray;

                        transition: 0.1s;
                    }

                    .active, .collection__button:hover{
                        color: rgba(255, 255, 255, 1);
                        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
                    }
                }

                .right{margin-right: 43px;}
            }

            .collection__view{
                justify-content: end;
                width: 95%;

                div{
                    font-size: 19.8983px;
                    line-height: 25px;
                }
            }
        }

        .collection__img{

            div{
                display: none;
                opacity: 0;
            }

            .collection__brand{
                img{height: 814px;}
            }

            .active{
                display: block;
                opacity: 1;
                transition: 0.2s;
            }
        }
    }
}
