//===Decoration===

.decoration{
    max-width: 100vw;

    .circule{
        position: absolute;

        z-index: 0;

        width: 246px;
        height: 246px;
        border-radius: 100%;
        filter: blur(100px);

        opacity: 0.5;
        background-color: #FF00C8;
    }

    .c1{
        top: 570px;
        left: 30px;
    }

    .c2{
        top: 2000px;
        left: 500px;
    }

    .c3{
        top: 900px;
        right: 450px;
    }

    .c4{
        top: 3000px;
        right: 400px;
    }

    .c5{
        top: 4000px;
        left: 500px;
    }

    .c6{
        top: 6200px;
        right: 400px;
    }

    .c7{
        top: 5300px;
        left: 200px;
    }
}
