//===Top-NFT===

.top-NFT{
    .top-NFT__h-flex{
        margin-bottom: 50px;
    }

    .top-NFT__card-flex{
        margin-bottom: 160px;

        .card-flex__item{
            .top-NFT__seller-card{
                padding: 36px 25px 23px;

                .seller-card__column1{margin-right: 15px;}

                .seller-card__column2{min-width: 120px;}
            }
        }
    }
}

h2{
    font-size: 26.531px;
    line-height: 40px;
}

.h-flex{
    display: flex;
    justify-content: space-between;
    //align-items: center;

    div{
        display: flex;
        align-items: center;

        font-size: 26.531px;
        line-height: 30px;

        span{margin-right: 25px;}
    }

    a{
        background-image: linear-gradient(89.89deg, #FF56F6 2.33%, #42A6E3 101.4%);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;

        padding-bottom: 10px;
    }

    a:hover{
        background-size: 100% 2px;       
    }
}

.card-flex{
    .swiper-wrapper{
        display: flex;
        justify-content: space-between;
        //flex-grow: 1;
        
        .card-flex__item{
            //display: flex;
            //flex-direction: column;
            margin-right: 20px;
            flex-basis: 32%;
            
            .seller-card{
                flex-grow: 1;
                height: 220px;
            }

            .card-flex__item__img{
                img{width: 100%;}
            }
        }
    }
}
